#login {
	width:auto;
	height:300px;
	border:2px solid #ccc;
	font-size:12px;
}
#login h2 {
	text-indent:0;
	text-align:center;
	margin:0 0 10px 0;
}
#register .beizhu{
	margin: 20px 0 10px 0;
	text-align: center;
	font-weight: bold;
}
#zhuce{
	margin: 30px 0 0 0;
}
#zhuce .wrap{
	margin-bottom: 10px;
	margin-left: 300px;
}
#zhuce .wrap .text{
	width: 200px;
	height: 19px;
	border: 1px dotted #333;
}
#zhuce .wrap .yzm{
	width: 60px;
}
#zhuce .wrap img#yzmimg{
	cursor: pointer;
}
#zhuce .wrapbtn{
	margin-left: 353px;
}
#zhuce .wrap .button{
	margin: 10px 0 0 10px;
	width:60px;
	height:22px;
	line-height: 18px;
	border:1px dashed #333;
	background:#fff;
	cursor:pointer;
}
